.bgimg1{
	background-image: url("../img/background.jpg");
	height: 550px;
}
.bgimg2{
	background-image: url('../img/4.png');
	/*min-height: 1600px;*/
}
.bgimg3{
	background-image: url('../img/1.png');
	/*min-height: 1800px;*/
}
.bgimg1, .bgimg2, .bgimg3{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	opacity:0.9;
}
.animate-opacity{
	-webkit-animation:opac 0.8s;animation:opac 0.8s;
}
.area{
	text-align: center;
	padding: 15px 30px!important;
	color: #fff;
	background-color: #000;
	font-size: 20px;
	font-family: "Segoe UI",Arial,sans-serif;
	letter-spacing: 5px;
	opacity: 0.8;
}
.display-middle{
	position: absolute;
	left:50%; 
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	white-space:nowrap;
	z-index: 20;
}
.display-middle-1{
	top:50%; 
}
.display-middle-2{
	top: 260%;
}
.margin-right-15{
	margin-right: 15px!important;
}


/* --- Slide show --- */
.centerize{
	display: flex;
	justify-content: center;
	align-items: center;
}
.imageSlideShow{
	position: relative;
	width: 90%;
	max-height: 750px;
}
.image img{
	width: 100%;
}
.image{
	display: none;
	animation-name: fade;
	animation-duration: 1.5s;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.pre, .next{
	cursor: pointer;
	position: absolute;
	top: 40%;
	font-size: 40px;
	padding: 20px;
	outline: none;
	display: inline-block;
}
.next {
  	right: 0;
}
.pre:hover, .next:hover{
	background-color: #bbb;
	-webkit-transition: 0.7s ease;
}
.imageDot{
	cursor: pointer;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	background-color: #bbb;
  	margin: 10px 2px;
	display: inline-block;
}
.imageDot:hover{
	background-color: #eee;
}
.imageDot-container{
	text-align: center;
	position: absolute;
	bottom: 2%;
	left: 48%;
}


/* --- Image columns --- */
.imageCol{
	box-sizing: border-box;
	position: relative;
}
.image1, .image2, .image3, .image4{
	max-width: 100%;
	position: relative;
	display: inline-block;
	background-repeat: no-repeat;
	margin-right: -6px;
	width: 25%;
	height: 1080px;
}
.image1{
	background-image: url("../img/background/vintas.jpg");
	background-position: 30%;
	z-index: 1;
}
.image2{
	background-image: url('../img/background/urbas.jpg');
	background-position: 45%;
	z-index: 2;
}
.image3{
	background-image: url('../img/background/babas.jpg');
	z-index: 3;
	background-position: 40%;
}
.image4{
	background-image: url('../img/background/Creas.jpg');
	z-index: 4;
	background-position: 40%;
}


/* --- Gallery Image --- */
.Gallery{
	position: relative;
	box-sizing: border-box;
	margin-top:3%;
	text-align: center;
	background-color: #125b63;
	padding: 70px 0;
}
#titleOfGallery{
	margin-top: 3%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#titleOfGallery span{
	background-color: gray;
	border-radius: 15px;
	font-size: 40px;
	padding: 10px 20px;
	font-family: serif;
}
.imageGallery{
	font-family: sans-serif;
	display: inline-block;
	width: 33%;
	position: relative;
}
.imageGallery img{
	max-height: 260px;
	position: relative;
	width: 90%;
	height: 100%;
}
.imageGallery:hover img{
	opacity: 0.4;
	-webkit-transition: 0.6s ease-in;
}
.imageGallery:hover:after{
	position: absolute;
	font-size: 50px;
	font-weight: 500;
	color: white;
}
.imageGallery1:hover:after{
	content: "New Nike";
	top : 31%;
	left: 26%;
}
.imageGallery2:hover:after{
	content: "New Converse";
	top : 30%;
	left: 20%;
}
.imageGallery3:hover:after{
	content: "New Adidas";
	top : 30%;
	left: 20%;
}
/* --- image wrapper --- */
.TheWrapper{
	position: relative;
	top: 100px;
	height: 850px;
}
#imageWrapper1, #imageWrapper2{
	position: absolute;
	background-repeat: no-repeat;
	height: 1000px;
	width: 80%;
}
#imageWrapper1{
	background-image: url('../img/background/shoes-2.jpg');
	z-index: 2;
}
#imageWrapper2{
	background-image: url('../img/background/shoes-1.jpg');
	width: 100%;
}
.aboutTheWrapper{
	position: absolute;
	top: 40%;
	left: 14%;
	width: 300px;
	font-weight: 600;
	z-index: 100;
	color: white;
}
.aboutTheWrapper h4{
	color:black;
	font-weight: 500;
	font-size: 200%;
}
.aboutTheWrapper h1{
	font-weight: 500;
	font-size: 350%;	
	margin: -10px 0 30px;
}
.aboutTheWrapper p{
	text-align: justify;
	font-size: 120%;
}